/* Asegura que el contenedor principal ocupe al menos el viewport completo */
.d-flex.flex-column.min-vh-100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Permite que el contenido principal crezca y llene el espacio disponible */
  .main.flex-grow-1 {
    flex-grow: 1;
  }
  
  /* Sticky Footer */
  footer {
    margin-top: auto;
  }
  